* {
    box-sizing: border-box;
}

/*General*/

header {
  background-color: #03a3df;
  padding: 1% 2% 1% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "arial regular", sans-serif;
  font-size: 17px;
  padding-right: 1em;
}

nav a:hover {
  text-decoration: underline;
  font-size: 20px;
}

nav a:visited {
  color: #ecb722;
}

nav .a-active {
  text-decoration: underline;
}

h2 {
  font-family: "arial bold", sans-serif;
  font-size: 24px;
}

h3 {
  font-family: "arial bold", sans-serif;
  font-size: 17px;
}

p {
  font-family: "arial regular", sans-serif;
  font-size: 17px;
}

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;

}

footer p {
  color: white;
  margin: auto;
}

.footer-banner {
  position: absolute;
  z-index: -1;
}

.footer-info {
  z-index: 1;
  padding: 5% 60% 10% 10%;
  margin: auto;
}

.footer-copyright {
  padding-top: 25%;
}

/*Home page <main>*/
.flex-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.p-main {
  align-self: flex-start;
}

.flex-video {
  align-self: center;
}

/*Home page <article>*/
.index-classes {
  background-color: #ecb722;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2% 5% 5% 2%;
}

/*Home page <div class="container-classes">*/
.container-classes{
  display: grid;
  grid-gap: 20px 30px;
  grid-template-columns: auto;
}

.class-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.class-2 {
  grid-column-start: 4;
  grid-column-end: 6;
}

.class-3 {
  grid-column-start: 7;
  grid-column-end: 9;
}

/*Home page <aricle class="index-aside">*/
.index-aside {
  background-color: #ecb722;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2% 2% 2% 2%;
}

/*team.html*/
blockquote {
  color: #03a3df;
  font-family: "arial regular", sans-serif;
  font-size: 30px;
  padding: 3% 5% 3% 5%;
}

.blockquote-name {
  font-size: 17px;
  font-family: "arial bold", sans-serif;
  color: #03a3df;
}

#instructors-container {
  display: grid;
  grid-gap: 20px 30px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 3%;
  justify-content: end;
}

.instructor-1 {
  background-color: #1b447f;
  padding: 2% 2% 2% 2%;
  align-content: center;
}

.instructor-2 {
  background-color: #1b447f;
  padding: 2% 2% 2% 2%;
  align-content: center;
}

.instructor-3 {
  background-color: #1b447f;
  padding: 2% 2% 2% 2%;
  align-content: center;
}

.instructor-h3 {
  font-family: "arial bold", sans-serif;
  font-size: 20px;
  color: #ecb722;
}

.instructor-p {
  font-family: "arial regular", sans-serif;
  font-size: 17px;
  color: white;
}
