* {
    box-sizing: border-box;
}

header {
  background-color: #03a3df;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "arial regular", sans-serif;
  font-size: 17px;
  padding-right: 1em;
}

nav a:hover {
  text-decoration: underline;
  font-size: 20px;
}

nav a:visited {
  color: #ecb722;
}

nav .a-active {
  text-decoration: underline;
}

h2 {
  font-family: "arial bold", sans-serif;
  font-size: 24px;
}

h3 {
  font-family: "arial bold", sans-serif;
  font-size: 17px;
}

p {
  font-family: "arial regular", sans-serif;
  font-size: 17px;
}

/*Home page <main>*/
.flex-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.p-main {
  align-self: flex-start;
}

.flex-video {
  align-self: center;
}

/*Home page <article>*/
.index-classes {
  background-color: #ecb722;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2% 5% 5% 2%;
}

/*Home page <div class="container-classes">*/
.container-classes{
  display: grid;
  grid-gap: 20px 30px;
  grid-template-columns: auto;
}

.class-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.class-2 {
  grid-column-start: 4;
  grid-column-end: 6;
}

.class-3 {
  grid-column-start: 7;
  grid-column-end: 9;
}
